Repository Whoisraeen/RaeenOS-production-, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @kernel-architect, @memory-manager, @process-scheduler, @api-sdk-architect, @filesystem-engineer, @driver-integration-specialist, @hardware-compat-expert, @privacy-security-engineer, @gaming-layer-engineer, @audio-subsystem-engineer, @network-architect, @performance-optimization-analyst, @ux-wizard, @accessibility-champion, @multitasking-maestro, @i18n-infrastructure-engineer, @localization-expert, @shell-cli-engineer, @brand-identity-guru, @notification-center-architect, @package-manager-dev, @app-store-architect, @app-framework-engineer, @raeen-studio-lead, @ai-orchestrator, @creator-tools-specialist, @installer-wizard, @data-telemetry-engineer, @task-manager-agent, @virtualization-architect, @mobile-sync-integration-engineer, @cloud-integration-engineer, @enterprise-deployment-specialist, @compliance-certification-specialist, @realtime-systems-engineer

.github/CODEOWNERS:

# RaeenOS Code Ownership and Review Requirements
# This file defines code ownership and mandatory reviewers for different parts of the codebase
# Ensures that specialized agents review changes in their areas of expertise

# Global reviewers - always required for any changes
* @lead-os-developer @code-quality-analyst @testing-qa-automation-lead

# Kernel Core Architecture
/kernel/kernel.c @kernel-architect @lead-os-developer
/kernel/memory.c @kernel-architect @memory-manager
/kernel/pmm.c @kernel-architect @memory-manager
/kernel/paging.c @kernel-architect @memory-manager
/kernel/process/ @kernel-architect @process-scheduler
/kernel/syscall.c @kernel-architect @process-scheduler
/kernel/include/ @kernel-architect @api-sdk-architect

# Critical System Interfaces
/kernel/include/memory_interface.h @kernel-architect @memory-manager @api-sdk-architect
/kernel/include/process_interface.h @kernel-architect @process-scheduler @api-sdk-architect
/kernel/include/filesystem_interface.h @filesystem-engineer @api-sdk-architect
/kernel/include/driver_framework.h @driver-integration-specialist @api-sdk-architect
/kernel/include/syscall.h @kernel-architect @api-sdk-architect
/kernel/include/hal_interface.h @hardware-compat-expert @api-sdk-architect
/kernel/include/security_interface.h @privacy-security-engineer @api-sdk-architect

# Driver Framework and Hardware Support
/drivers/ @driver-integration-specialist @hardware-compat-expert
/kernel/driver.c @driver-integration-specialist @kernel-architect
/drivers/pci/ @hardware-compat-expert @driver-integration-specialist
/drivers/gpu/ @gaming-layer-engineer @hardware-compat-expert
/drivers/audio/ @audio-subsystem-engineer @hardware-compat-expert
/drivers/usb/ @hardware-compat-expert @driver-integration-specialist
/drivers/network/ @network-architect @hardware-compat-expert
/drivers/nvme/ @hardware-compat-expert @filesystem-engineer

# Memory Management
/kernel/memory.h @memory-manager @kernel-architect
/kernel/swap.c @memory-manager @performance-optimization-analyst

# Process Management and Scheduling
/kernel/process/ @process-scheduler @kernel-architect
/kernel/ipc/ @process-scheduler @privacy-security-engineer

# Filesystem
/kernel/fs/ @filesystem-engineer @privacy-security-engineer
/kernel/fs/vfs.c @filesystem-engineer @kernel-architect
/kernel/fs/permissions.c @filesystem-engineer @privacy-security-engineer

# Network Stack
/kernel/net/ @network-architect @privacy-security-engineer
/kernel/net/tcpip.c @network-architect @performance-optimization-analyst
/kernel/net/firewall.c @network-architect @privacy-security-engineer

# Security and Privacy
/kernel/module_signing.c @privacy-security-engineer @kernel-architect
/kernel/net/firewall.c @privacy-security-engineer @network-architect

# User Interface and Graphics
/kernel/ui/ @ux-wizard @accessibility-champion
/kernel/graphics.c @ux-wizard @gaming-layer-engineer
/kernel/window.c @ux-wizard @multitasking-maestro
/kernel/ui/accessibility.c @accessibility-champion @ux-wizard
/kernel/ui/i18n.c @i18n-infrastructure-engineer @localization-expert

# Desktop Environment and Shell
/kernel/ui/taskbar.c @ux-wizard @shell-cli-engineer
/kernel/ui/start_menu.c @ux-wizard @brand-identity-guru
/kernel/ui/notification.c @notification-center-architect @ux-wizard

# Package Management
/pkg/ @package-manager-dev @app-store-architect
/userland/app_store.c @app-store-architect @package-manager-dev

# Userland Applications and Libraries
/userland/ @app-framework-engineer @raeen-studio-lead
/userland/libc.c @app-framework-engineer @kernel-architect
/userland/raeenstudio/ @raeen-studio-lead @ai-orchestrator
/userland/shell/ @shell-cli-engineer @ai-orchestrator

# AI Integration
/userland/nlp.c @ai-orchestrator @raeen-studio-lead
/userland/automation_suggestions.c @ai-orchestrator @ux-wizard
/userland/context_awareness.c @ai-orchestrator @privacy-security-engineer

# Gaming and Performance
/drivers/gpu/ @gaming-layer-engineer @performance-optimization-analyst
/kernel/graphics.c @gaming-layer-engineer @ux-wizard

# Audio Subsystem
/drivers/audio/ @audio-subsystem-engineer @creator-tools-specialist
/kernel/ui/audio/ @audio-subsystem-engineer @ux-wizard

# Build System and Infrastructure
/Makefile @lead-os-developer @testing-qa-automation-lead
/Makefile.multi-platform @lead-os-developer @hardware-compat-expert @testing-qa-automation-lead
/.github/workflows/ @testing-qa-automation-lead @lead-os-developer

# CI/CD and Testing
/.github/ @testing-qa-automation-lead @lead-os-developer
/tests/ @testing-qa-automation-lead @code-quality-analyst
/.github/workflows/ci-main.yml @testing-qa-automation-lead @performance-optimization-analyst
/.github/workflows/hardware-compatibility.yml @hardware-compat-expert @testing-qa-automation-lead

# Documentation
/docs/ @lead-os-developer @localization-expert
/README.md @lead-os-developer @brand-identity-guru
/docs/SYSTEM_ARCHITECTURE.md @kernel-architect @lead-os-developer
/docs/CI_CD_INFRASTRUCTURE_GUIDE.md @testing-qa-automation-lead @lead-os-developer

# Bootloader and Low-Level
/boot/ @kernel-architect @installer-wizard
/kernel/boot_entry.c @kernel-architect @installer-wizard

# Monitoring and Tools
/tools/ @testing-qa-automation-lead @data-telemetry-engineer
/tools/monitoring/ @data-telemetry-engineer @performance-optimization-analyst
/tools/agent-coordination/ @task-manager-agent @testing-qa-automation-lead

# Agent-Specific Review Requirements
# These patterns ensure that changes to specific subsystems get expert review

# Virtualization and Compatibility
/kernel/vm/ @virtualization-architect @privacy-security-engineer
/userland/compat/ @virtualization-architect @app-framework-engineer

# Mobile and Cloud Sync
/userland/sync/ @mobile-sync-integration-engineer @cloud-integration-engineer
/kernel/sync/ @mobile-sync-integration-engineer @privacy-security-engineer

# Internationalization and Localization
/kernel/ui/i18n.c @i18n-infrastructure-engineer @localization-expert
/userland/i18n/ @i18n-infrastructure-engineer @localization-expert

# Performance Critical Paths
/kernel/memory.c @performance-optimization-analyst @memory-manager
/kernel/process/switch.asm @performance-optimization-analyst @process-scheduler
/drivers/gpu/ @performance-optimization-analyst @gaming-layer-engineer

# Enterprise and Deployment
/tools/deployment/ @enterprise-deployment-specialist @installer-wizard
/docs/enterprise/ @enterprise-deployment-specialist @compliance-certification-specialist

# Real-time Systems
/kernel/timer.c @realtime-systems-engineer @performance-optimization-analyst
/drivers/audio/ @realtime-systems-engineer @audio-subsystem-engineer

# Special Review Requirements
# Files that require additional scrutiny

# Security-Critical Files (require security review)
/kernel/module_signing.c @privacy-security-engineer @compliance-certification-specialist
/kernel/net/firewall.c @privacy-security-engineer @network-architect
/kernel/fs/permissions.c @privacy-security-engineer @filesystem-engineer

# Performance-Critical Files (require performance review)  
/kernel/memory.c @performance-optimization-analyst @memory-manager
/kernel/process/switch.asm @performance-optimization-analyst @process-scheduler
/drivers/gpu/gpu.c @performance-optimization-analyst @gaming-layer-engineer

# API Stability (require API design review)
/kernel/include/syscall.h @api-sdk-architect @kernel-architect
/kernel/include/*_interface.h @api-sdk-architect @lead-os-developer

# Hardware Compatibility (require hardware testing)
/drivers/ @hardware-compat-expert @testing-qa-automation-lead

# Accessibility (require accessibility review)
/kernel/ui/accessibility.c @accessibility-champion @compliance-certification-specialist
/userland/ui/ @accessibility-champion @ux-wizard

# Internationalization (require i18n review)
/kernel/ui/i18n.c @i18n-infrastructure-engineer @localization-expert
/userland/i18n/ @i18n-infrastructure-engineer @localization-expert

feat: add quality gates framework with performance benchmarks and i18n support
  .github/workflows/quality-gates.yml
  Makefile
  RaeenOne/PLAN.md
  docs/QUALITY_GATES_FRAMEWORK.md
  gemini.md
  kernel/ui/i18n.c
  tools/quality-gates/integration_test_framework.py
  tools/quality-gates/performance_benchmarks.py
  tools/quality-gates/quality_gate_validator.sh
  tools/quality-gates/requirements.txt
  tools/quality-gates/security_validation_suite.py
Owners: @testing-qa-automation-lead, @lead-os-developer, @code-quality-analyst, @localization-expert, @i18n-infrastructure-engineer, @data-telemetry-engineer

docs: add repository architecture and module boundaries documentation
  Makefile.config
  Makefile.enhanced
  Makefile.rules
  docs/REPOSITORY_ARCHITECTURE.md
  docs/development-standards/MODULE_TEMPLATE.md
  scripts/migrate-to-new-structure.sh
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @localization-expert

feat: add production-grade memory management with NUMA support and zone-based allocation
  kernel/interrupt_production.h
  kernel/pmm_production.c
  kernel/pmm_production.h
  kernel/slab_allocator.c
  kernel/slab_allocator.h
  kernel/vmm_production.c
  kernel/vmm_production.h
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement core kernel synchronization primitives and interrupt handling
  kernel/hal_stub.c
  kernel/heap_production.c
  kernel/idt_production.c
  kernel/include/sync.h
  kernel/include/types.h
  kernel/interrupt_stubs.asm
  kernel/kernel_main.c
  kernel/pmm_production.c
  kernel/sync.c
  kernel/vmm_production_impl.c
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @kernel-architect, @api-sdk-architect

feat: implement production-grade system call interface with security features
  KERNEL_IMPLEMENTATION_STATUS.md
  kernel/syscall_production.c
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement initial HAL architecture with x86_64 support and hardware detection
  kernel/fs/buffer_cache.c
  kernel/fs/buffer_cache.h
  kernel/fs/vfs_production.c
  kernel/fs/vfs_production.h
  kernel/hal/Makefile
  kernel/hal/README.md
  kernel/hal/arm64/hal_arm64.c
  kernel/hal/arm64/hal_arm64.h
  kernel/hal/detection/hal_hardware_detection.c
  kernel/hal/detection/hal_hardware_detection.h
  kernel/hal/device/hal_device_manager.c
  kernel/hal/device/hal_device_manager.h
  kernel/hal/hal_core.c
  kernel/hal/performance/hal_performance.c
  kernel/hal/performance/hal_performance.h
  kernel/hal/tests/hal_integration_tests.c
  kernel/hal/tests/hal_integration_tests.h
  kernel/hal/x86_64/hal_x86_64.c
  kernel/hal/x86_64/hal_x86_64.h
  kernel/hal_stub.c
Owners: @filesystem-engineer, @privacy-security-engineer, @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement production-ready EXT4 and VFS file locking subsystems
  kernel/fs/ext4/ext4.c
  kernel/fs/ext4/ext4.h
  kernel/fs/fat32/fat32_production.c
  kernel/fs/fat32/fat32_production.h
  kernel/fs/vfs_events.c
  kernel/fs/vfs_events.h
  kernel/fs/vfs_file_locks.c
  kernel/fs/vfs_file_locks.h
Owners: @filesystem-engineer, @privacy-security-engineer

feat: implement comprehensive security framework with MAC, IDS and sandboxing
  kernel/security/Makefile
  kernel/security/audit.c
  kernel/security/crypto.c
  kernel/security/ids.c
  kernel/security/mac.c
  kernel/security/memory_protection.c
  kernel/security/sandbox.c
  kernel/security/security_core.c
  kernel/security/security_core.h
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement core security framework with MAC, IDS, and sandbox components
  kernel/security/security_core.h
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement network security framework with firewall and IPS integration
  kernel/security/Makefile
  kernel/security/README.md
  kernel/security/network_security.c
  kernel/security/security_integration.c
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: add security framework with test suite and build system
  kernel/security/Makefile
  kernel/security/tests/security_tests.c
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement core process management and scheduling system
  boot/boot.asm
  build/kernel/string.o
  build/kernel_entry.o
  kernel/include/types.h
  kernel/include/wait.h
  kernel/ipc/wait.c
  kernel/paging.h
  kernel/pmm.h
  kernel/process/process.c
  kernel/process/process.h
  kernel/timer.c
Owners: @kernel-architect, @installer-wizard, @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @api-sdk-architect, @process-scheduler, @privacy-security-engineer, @realtime-systems-engineer, @performance-optimization-analyst

feat: implement core kernel subsystems including process, VFS, IPC, and memory management
  kernel/fs/vfs.h
  kernel/idt.h
  kernel/ipc/pipe.h
  kernel/memory.h
  kernel/process/process.c
  kernel/string.h
Owners: @filesystem-engineer, @privacy-security-engineer, @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @process-scheduler, @memory-manager, @kernel-architect

feat: implement initial FAT32 and VFS filesystem infrastructure with caching and permissions
  kernel/fs/buffer_cache.h
  kernel/fs/ext4/ext4.c
  kernel/fs/ext4/ext4.h
  kernel/fs/fat32/fat32.c
  kernel/fs/fat32/fat32.h
  kernel/fs/fat32/fat32_production.c
  kernel/fs/fat32/fat32_production.h
  kernel/fs/nfs.h
  kernel/fs/permissions.h
  kernel/fs/ramfs.c
  kernel/fs/vfs.c
  kernel/fs/vfs.h
  kernel/fs/vfs_events.c
  kernel/fs/vfs_events.h
  kernel/fs/vfs_file_locks.c
  kernel/fs/vfs_legacy.h
  kernel/fs/vfs_production.c
  kernel/fs/vfs_production.h
  kernel/include/types.h
  kernel/process/process.h
  kernel/string.c
  kernel/string.h
Owners: @filesystem-engineer, @privacy-security-engineer, @kernel-architect, @api-sdk-architect, @process-scheduler, @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: add initial EXT4 filesystem implementation with core structures and mount support
  kernel/fs/buffer_cache.c
  kernel/fs/buffer_cache.h
  kernel/fs/ext4/ext4.c
  kernel/fs/ext4/ext4.h
  kernel/fs/fat32/fat32_production.c
  kernel/fs/vfs_events.c
  kernel/fs/vfs_events.h
  kernel/fs/vfs_file_locks.c
  kernel/fs/vfs_file_locks.h
  kernel/fs/vfs_production.c
  kernel/fs/vfs_production.h
  kernel/graphics.h
  kernel/include/sync.h
  kernel/include/time.h
  kernel/include/types.h
  kernel/mouse.c
  kernel/mouse.h
  kernel/string.c
  kernel/string.h
Owners: @filesystem-engineer, @privacy-security-engineer, @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @kernel-architect, @api-sdk-architect

feat: implement initial window manager and UI components for RaeenOS
  kernel/kernel.c
  kernel/ui/accessibility.c
  kernel/ui/accessibility.h
  kernel/ui/file_explorer.c
  kernel/ui/i18n.c
  kernel/ui/ime.c
  kernel/ui/notification.c
  kernel/ui/start_menu.c
  kernel/ui/system_tray.c
  kernel/ui/taskbar.c
  kernel/ui/terminal.c
  kernel/ui/terminal.h
  kernel/ui/widget.c
  kernel/ui/widget.h
  kernel/window.c
Owners: @kernel-architect, @lead-os-developer, @accessibility-champion, @compliance-certification-specialist, @ux-wizard, @i18n-infrastructure-engineer, @localization-expert, @notification-center-architect, @brand-identity-guru, @shell-cli-engineer, @multitasking-maestro

feat: implement core process management, IPC, and memory subsystems
  kernel/include/types.h
  kernel/ipc/pipe.c
  kernel/ipc/semaphore.c
  kernel/ipc/semaphore.h
  kernel/pmm_production.h
  kernel/process/process.c
  kernel/vmm_production.h
Owners: @kernel-architect, @api-sdk-architect, @process-scheduler, @privacy-security-engineer, @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement virtual memory manager, pipe IPC, and physical memory manager headers
  kernel/ipc/pipe.c
  kernel/pmm_production.h
  kernel/vmm_production.h
Owners: @process-scheduler, @privacy-security-engineer, @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement core synchronization primitives and system call infrastructure
  .claude/settings.local.json
  kernel/event.c
  kernel/exec.h
  kernel/include/sync.h
  kernel/include/syscall.h
  kernel/module_signing.h
  kernel/paging.c
  kernel/paging.h
  kernel/rbtree.c
  kernel/swap.c
  kernel/syscall.c
  kernel/syscall_impl.c
  kernel/vmm_production.c
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @kernel-architect, @api-sdk-architect, @memory-manager, @performance-optimization-analyst, @process-scheduler

chore: add .claude AI tools directory to gitignore
  .gitignore
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement boot orchestrator and session management system
  boot/boot_orchestrator.c
  boot/oobe.h
  boot/session.h
  boot/splash.c
  boot/splash.h
  drivers/network/bluetooth.c
  drivers/network/bluetooth.h
  drivers/network/wifi.c
  drivers/network/wifi.h
  kernel/fs/fat32.c
  kernel/graphics/3d_pipeline.c
  kernel/graphics/3d_pipeline.h
  userland/desktop/window_manager.c
Owners: @kernel-architect, @installer-wizard, @hardware-compat-expert, @testing-qa-automation-lead, @filesystem-engineer, @privacy-security-engineer, @lead-os-developer, @code-quality-analyst, @app-framework-engineer, @raeen-studio-lead

feat: implement standard C library stdlib.h functions with basic malloc, string conversion, and math utilities
  kernel/vm/cpu_virtualization.c
  kernel/vm/cpu_virtualization.h
  libs/libc/stdlib.c
Owners: @virtualization-architect, @privacy-security-engineer, @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead

feat: implement advanced hot-plug system and graphics pipeline with Vulkan support
  Makefile.interactive
  Makefile.production
  Makefile.simple
  boot/splash.c
  build_interactive_enhanced/iso/boot/grub/grub.cfg
  desktop/desktop_shell.c
  desktop/desktop_shell.h
  drivers/acpi/acpi_advanced.c
  drivers/acpi/acpi_advanced.h
  drivers/core/driver_framework.c
  drivers/core/driver_telemetry.c
  drivers/core/driver_telemetry.h
  drivers/core/hotplug_system.c
  drivers/core/telemetry_integration.c
  drivers/core/telemetry_integration.h
  drivers/input/input.h
  drivers/input/input_advanced.c
  drivers/nvme/nvme.h
  drivers/nvme/nvme_advanced.c
  drivers/pci/pci.h
  drivers/pci/pcie_advanced.c
  drivers/usb/usb.h
  drivers/usb/usb_advanced.c
  gpu/compositor.c
  gpu/directx_compat.c
  gpu/graphics_pipeline.c
  kernel/fs/vfs_revolutionary.c
  kernel/ipc/ipc_advanced.c
  kernel/linker_production.ld
  kernel/memory_advanced.c
  kernel/process/scheduler_advanced.c
  kernel/syscall_production.c
  kernel_enhanced.c
  kernel_interactive_enhanced.c
  kernel_production.c
  ui/desktop_shell.h
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @kernel-architect, @installer-wizard, @hardware-compat-expert, @filesystem-engineer, @privacy-security-engineer, @process-scheduler

feat: implement revolutionary window manager and GPU driver framework
  desktop/desktop_shell.c
  drivers/gpu/amd/amd_rdna3.h
  drivers/gpu/apple/apple_metal.h
  drivers/gpu/gpu.h
  drivers/gpu/intel/intel_arc.h
  drivers/gpu/nvidia/nvidia_rtx.h
  gpu/compositor.c
  gpu/graphics_pipeline.c
  gpu/graphics_pipeline.h
  userland/desktop/window_manager.c
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @hardware-compat-expert, @app-framework-engineer, @raeen-studio-lead

feat: initialize core OS components with multiboot, graphics pipeline and AI engine
  .claude/settings.local.json
  CMakeLists.txt
  CMakeLists_production.txt
  CMakeLists_temp.txt
  acpi/acpi.c
  ai/ai_engine.c
  ai/ai_engine.h
  apps/file_manager.c
  apps/text_editor.c
  audio/audio.c
  boot/boot_orchestrator.c
  boot/multiboot.asm
  boot/splash.c
  build/CMakeFiles/Progress/3
  build/CMakeFiles/Progress/4
  build/CMakeFiles/Progress/5
  build/CMakeFiles/raeenos.elf.dir/compiler_depend.internal
  build/CMakeFiles/raeenos.elf.dir/compiler_depend.make
  build/CMakeFiles/raeenos.elf.dir/flags.make
  build/CMakeFiles/raeenos.elf.dir/link.txt
  build/CMakeFiles/raeshell.dir/compiler_depend.internal
  build/CMakeFiles/raeshell.dir/compiler_depend.make
  build/CMakeFiles/raeshell.dir/flags.make
  build/CMakeFiles/raeshell.dir/link.txt
  drivers/network/wifi.h
  gpu/graphics_pipeline.h
  kernel/include/types.h
  kernel_main.c
  libs/libc/include/stdio.h
  libs/libc/include/stdlib.h
  libs/libc/include/string.h
  libs/libc/stdio.c
  ui/raeenui.h
  userland/raeshell/raeshell.c
Owners: @lead-os-developer, @code-quality-analyst, @testing-qa-automation-lead, @kernel-architect, @installer-wizard, @hardware-compat-expert, @api-sdk-architect, @app-framework-engineer, @raeen-studio-lead
